{% comment %} 
{% for i in cart %}
<h1>{{msg}}</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{i.item_name}}</h5>
    <p class="card-text">{{i.item_des}}</p>
  </div>
  <h5 class="card-title">{{i.item_price}}</h5>
  <h5 class="card-title">{{i.item_quantity}}</h5>
  <div class="card-body">
    <a href="#" class="card-link">Buy Now</a>
    <a href="{% url 'delete' pk=i.id %}" class="card-link">Delete</a>
  </div>
</div>


{% endfor %}

<h1>Total amount: {{ammount}}</h1>
<a href="#" class="card-link">Buy Now</a> {% endcomment %}


<h1>{{ msg }}</h1>

{% for i in cart %}
<div class="card" style="width: 18rem; margin-bottom: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{ i.item_name }}</h5>
    <p class="card-text">{{ i.item_des }}</p>
    <h5 class="card-title">Price: {{ i.item_price }}</h5>
    <h5 class="card-title">Quantity: {{ i.item_quantity }}</h5>
    <div class="card-body">
      <a href="#" class="card-link">Buy Now</a>
      <a href="{% url 'delete' i.id %}" class="card-link">Delete</a>
    </div>
  </div>
</div>
{% endfor %}

<h1>Total amount: {{ ammount }}</h1>
<a href="#" class="card-link">Buy Now</a>
