{% extends "comman.html" %}
{% block content %}
<h1>{{userdata}}</h1>
<h1>Dash Bord Page</h1>

<h1>Username : {{userdata.id}}</h1>
<h1>Username : {{userdata.stu_email}}</h1>
<h1>Username : {{userdata.stu_name}}</h1>
<h1>Username : {{userdata.stu_detail}}</h1>
<h1>Username : {{userdata.stu_phone}}</h1>
<h1>Username : {{userdata.stu_dob}}</h1>
<h1>Username : {{userdata.stu_quali}}</h1>
<h1>Username : {{userdata.stu_gender}}</h1>
<h1>Username : {{userdata.stu_pass}}</h1>
<img src="{{userdata.stu_image.url}}" alt="">
<a href="{{userdata.stu_resume.url}}" target="_blank">Download</a>
{% endblock %}
