{% extends "comman.html" %}

{% load static %}

{% block title %}
ragister
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block contect %}
<div class="MainDiv">
    <h1> Ragister </h1>
    <form action="{% url 'ragisterdata' %}" method="post" enctype="multipart/form-data" id="formDataDiv">
        {% csrf_token %}


        <div class="left">
            <div class="Box">
                <label for="username">Name:</label>
                <input type="text" name="username" placeholder="Enter your name">
            </div>

            <div class="Box">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter your email">
            </div>

            <div class="Box">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>

            <div class="Box">
                <label for="password">Con_Password:</label>
                <input type="password" name="cpassword">
            </div>
            
            <div class="Box">
                <label for="gender">Gender:</label>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
            </div>

                        <div class="Box">
                <label for="dob">DOB:</label>
                <input type="date" name="dob" min="2007-01-01">
            </div>


        </div>

        <div class="right">

            <div class="Box">
                <label for="detail">Description:</label>
                <textarea name="detail" cols="20" rows="5"></textarea>
            </div>

            <div class="Box">
                <label for="phone">Contact:</label>
                <input type="tel" name="phone" pattern="[0-9]{10}" maxlength="10"
                    placeholder="Enter your phone number">
            </div>


            <div class="Box">
                <label for="profile-pic">Image:</label>
                <input type="file" name="profile-pic" accept=".jpeg, .png">
            </div>

            <div class="Box">
                <label for="resume">Resume:</label>
                <input type="file" name="resume" accept=".pdf, .doc">
            </div>

            <div class="Box">
                <label for="subscribe">Education:</label>
                <input type="checkbox" name="subscribe" value="one">B.Tech
                <input type="checkbox" name="subscribe" value="two">M.Tech
                <input type="checkbox" name="subscribe" value="three">P.hd
            </div>

        </div>
    </form>

        <div class="Box">
            <input type="submit" value="Submit">
        </div>
</div>

{% endblock %}